---
import App from "../components/App";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<style>
			body {
				display: flex;
				flex-direction: column;
				background-color: #b3f5ff;
				padding: 8px;
			}

			h1 {
				text-align: center;
			}
		</style>
	</head>
	<body>
		<h1>wiltis - bysykkel</h1>
		<App client:only />
	</body>
</html>
